/*CLASES REUTILIZABLES*/
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  position: relative;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

h1 {
  font-size: 3.4em;
}

h2 {
  font-size: 1.5em;
  margin-top: 60px;
  margin-bottom: 35px;
}

main {
  width: 100%;
  position: absolute;
  top: 98px;
  z-index: -1;
}

header {
  width: 100%;
  height: auto;
  background-color: #fff;
  position: fixed;
  float: left;
}

.logo {
  width: 75px;
  display: inline-block;
  position: absolute;
  right: 132px;
  top: 12px;
}

.logo img {
  width: 100%;
}

.text-uppercase a {
  margin-right: 45px;
}

.menu {
  width: 70%;
  display: inline-block;
  margin: 35px;
  padding-left: 140px;
  font-weight: 700;
}

section {
  padding: 10px;
  text-align: center;
  display: block;
  float: left;

}

.green-btn {
  font-size: 1em;
  background-color: #2ecc71;
  padding: 15px 20px;
}

a.green-btn {
  margin: 20px; 
  color: white;
  font-size: 1em;
  font-weight: 200;
}

.content-box {
  width: 33%;
  height: auto;
  font-weight: 800;
  display: inline-block;
  float: left;
  padding: 20px;
}

.intro {
  width: 100%;
  height: 536px;
  background-image: url(../assets/images/bg-home.jpg);
  background-size: 100%;
  color: #fff;
}

.intro p {
  margin-bottom: 90px;
}

.services {
  width: 100%;
  min-height: 670px;
  color: #fff;
  background-color: #f17c72;
}

.services img {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 30px;
}


.services .content-box h5, .services .content-box h6{
  font-size: 0.8em;
  font-weight: 500;
}

.work {
  width: 100%;
  min-height: 2310px;
  background-color: #fff;
}

.work img {
  width: 80%;
}

.work h2, .services h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 2.2em;
  font-style: bold;
  font-weight: 700;
}

.work h4 {
  margin-bottom: 40px;
  color: #474747;
}

footer {
  width: 100%;
  min-height: 70px;
  background-color: #373b47;
  display: table;
  float: left;
}

footer p {
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-weight: 200;
}
